@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap);
#tree {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f7f7;
}

.node-link {
  display: block;
  text-decoration: none;
}

.tree-children {
  display: flex;
  justify-content: space-around;
}

.tree-component {
  color: #000;
  background-color: #E5F3FA;
  width: 150px;
  min-height: 100px;
  word-break: break-word;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}
.tree-component p,
.tree-component h4 {
  width: 100%;
}
.tree-component a {
  text-decoration: none;
  color: #000;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tree-component a h4 {
  font-weight: 600;
  font-size: 1.3em;
  margin: 0;
}
.tree-component.clicked {
  background: #2c3890;
}
.tree-component.clicked a h4,
.tree-component.clicked a p {
  color: #fff;
}

.tree-node {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tree-node.column {
  position: relative;
}
.tree-node.column .tree-component::before {
  display: block;
  content: "";
  position: absolute;
  width: 1px;
  height: 20px;
  background: #b5b6b7;
  top: -24px;
  left: calc(50% - 0.5px);
  z-index: 1;
}

.tree-children .tree-node:first-child.column > .tree-component::before {
  display: block;
  content: "";
  position: absolute;
  width: 1px;
  height: 12.5px;
  background: #b5b6b7;
  top: -15px;
  left: calc(50% - 0.5px);
  z-index: 1;
}
.tree-children .tree-node:first-child.column > .tree-component::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #b5b6b7;
  top: -15px;
  left: calc(50% - 0.5px);
  z-index: 1;
}
.tree-children .tree-node:last-child.column > .tree-component::before {
  display: block;
  content: "";
  position: absolute;
  width: 1px;
  height: 12.5px;
  background: #b5b6b7;
  top: -15px;
  left: calc(50% - 0.5px);
  z-index: 1;
}
.tree-children .tree-node:last-child.column > .tree-component::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #b5b6b7;
  top: -15px;
  right: calc(50% - 0.5px);
  left: auto;
  z-index: 1;
}

.root-node::after {
  display: block;
  content: "";
  position: absolute;
  width: 1px;
  background: #b5b6b7;
  height: 12.5px;
  bottom: -15px;
  left: calc(50% - 0.5px);
  z-index: 1;
}

.tree-node.column > .tree-component:first-child::before {
  display: block;
  content: "";
  position: absolute;
  width: 1px;
  height: 12.5px;
  background: #b5b6b7;
  top: -15px;
  left: calc(50% - 0.5px);
  z-index: 1;
}
.tree-node.column > .tree-component:first-child::after {
  display: block;
  content: "";
  position: absolute;
  width: 150%;
  height: 1px;
  background: #b5b6b7;
  top: -15px;
  left: 0;
  z-index: 1;
}
.quickLinks .container{max-width:300px;margin:0px auto;box-shadow:0 2px 3px 0 rgba(0,0,0,0.1);padding:0 20px}.quickLinks .row{margin:0 -8px;box-sizing:border-box;zoom:1}.quickLinks .row::before,.quickLinks .row::after{display:table;content:'';line-height:0}.quickLinks .row::after{clear:both}.quickLinks .column{position:relative;min-height:1px;padding-left:8px;padding-right:8px;box-sizing:border-box}[dir='ltr'] .quickLinks .column{float:left}[dir='rtl'] .quickLinks .column{float:right}.quickLinks .column .ms-Grid{padding:0}@media (min-width: 640px){.quickLinks .column{width:100%}}@media (min-width: 1024px){.quickLinks .column{width:100%}}.quickLinks .column .content{width:100%}.quickLinks .column .content .tilesHeader{display:flex;justify-content:space-between;margin-bottom:26px;align-items:center;margin:0 0 30px 0}.quickLinks .column .content .tilesHeader h1{font-size:24px;font-weight:300;font-stretch:normal;font-style:normal;line-height:1.6;letter-spacing:0.14px;color:#515150;margin:0;font-family:'Roboto', 'Segoe UI Web (West European)', Segoe UI, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif}.quickLinks .column .content .tilesHeader a{font-family:'Roboto', 'Segoe UI Web (West European)', Segoe UI, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;font-size:14px;white-space:nowrap;-webkit-font-smoothing:antialiased;font-size:inherit;font-weight:inherit;color:#0078d4;outline:0;text-decoration:none}.quickLinks .column .content .link{display:flex;align-items:center;margin-bottom:15px}.quickLinks .column .content .link i{font-size:20px}.quickLinks .column .content .link a{margin-left:16px;font-family:'Roboto', 'Segoe UI Web (West European)', Segoe UI, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;font-size:14px;font-weight:normal;font-stretch:normal;font-style:normal;line-height:1.63;letter-spacing:normal;color:#0078d4}

.pie-chart-content_diagrams__CQRr-{font-family:"Montserrat", sans-serif}.pie-chart-content_diagrams__CQRr- .pie-chart-content_container__2blrE{max-width:1280px;margin:0px auto;box-sizing:border-box;zoom:1;padding:0 8px}.pie-chart-content_diagrams__CQRr- .pie-chart-content_container__2blrE::before,.pie-chart-content_diagrams__CQRr- .pie-chart-content_container__2blrE::after{display:table;content:'';line-height:0}.pie-chart-content_diagrams__CQRr- .pie-chart-content_container__2blrE::after{clear:both}.pie-chart-content_diagrams__CQRr- .pie-chart-content_row__3Oopg{margin:0 -8px;box-sizing:border-box;zoom:1;display:flex;align-items:stretch}.pie-chart-content_diagrams__CQRr- .pie-chart-content_row__3Oopg::before,.pie-chart-content_diagrams__CQRr- .pie-chart-content_row__3Oopg::after{display:table;content:'';line-height:0}.pie-chart-content_diagrams__CQRr- .pie-chart-content_row__3Oopg::after{clear:both}.pie-chart-content_diagrams__CQRr- .pie-chart-content_column__37RJV{position:relative;min-height:1px;padding-left:8px;padding-right:8px;box-sizing:border-box;width:100%}[dir='ltr'] .pie-chart-content_diagrams__CQRr- .pie-chart-content_column__37RJV{float:left}[dir='rtl'] .pie-chart-content_diagrams__CQRr- .pie-chart-content_column__37RJV{float:right}.pie-chart-content_diagrams__CQRr- .pie-chart-content_column__37RJV .pie-chart-content_ms-Grid__GfmZt{padding:0}@media (min-width: 640px){.pie-chart-content_diagrams__CQRr- .pie-chart-content_column__37RJV{width:33.33333333333333%}}@media (min-width: 1024px){.pie-chart-content_diagrams__CQRr- .pie-chart-content_column__37RJV{width:33.33333333333333%}}.pie-chart-content_diagrams__CQRr- .pie-chart-content_column__37RJV .pie-chart-content_content__3lTEH{min-height:100%;background-color:#fff;box-sizing:border-box;border:solid 1px #d7d7d7;border-top:solid 4px #334f61;border-radius:1px;padding:15px;position:relative}.pie-chart-content_diagrams__CQRr- .pie-chart-content_column__37RJV .pie-chart-content_content__3lTEH .pie-chart-content_title__1eSku{color:#333;font-weight:400;font-style:normal;font-size:20px;line-height:22px;margin:0 0 25px 0}.pie-chart-content_diagrams__CQRr- .pie-chart-content_column__37RJV .pie-chart-content_content__3lTEH hr{height:1px;background-color:#d7d7d7;border:none;position:absolute;width:100%;top:45px;left:0}.pie-chart-content_diagrams__CQRr- .pie-chart-content_column__37RJV .pie-chart-content_content__3lTEH .pie-chart-content_contentItems__DPzeq{display:flex;flex-direction:column;align-items:center;padding-top:15px}.pie-chart-content_diagrams__CQRr- .pie-chart-content_column__37RJV .pie-chart-content_content__3lTEH .pie-chart-content_contentItems__DPzeq h5{color:#555;font-size:15px;margin:0 0 10px 0}.pie-chart-content_diagrams__CQRr- .pie-chart-content_column__37RJV .pie-chart-content_content__3lTEH .pie-chart-content_contentItems__DPzeq img{-webkit-filter:opacity(50%);filter:opacity(50%);width:100%;max-width:218px}.pie-chart-content_diagrams__CQRr- .pie-chart-content_column__37RJV .pie-chart-content_content__3lTEH .pie-chart-content_contentItems__DPzeq .pie-chart-content_info__1LHC1{display:flex;justify-content:space-around;width:100%;font-weight:500;margin-top:15px}.pie-chart-content_diagrams__CQRr- .pie-chart-content_column__37RJV .pie-chart-content_content__3lTEH .pie-chart-content_contentItems__DPzeq .pie-chart-content_info__1LHC1 p{color:#7f7f7f;font-size:14px;line-height:19px;margin:5px 0 0 0}.pie-chart-content_diagrams__CQRr- .pie-chart-content_column__37RJV .pie-chart-content_content__3lTEH .pie-chart-content_contentItems__DPzeq .pie-chart-content_info__1LHC1 p span{color:#333}.pie-chart-content_diagrams__CQRr- .pie-chart-content_column__37RJV .pie-chart-content_content__3lTEH .pie-chart-content_contentItems__DPzeq .pie-chart-content_info__1LHC1 p:first-child{margin-right:15px}.pie-chart-content_diagrams__CQRr- .pie-chart-content_column__37RJV .pie-chart-content_content__3lTEH .pie-chart-content_contentItems__DPzeq .pie-chart-content_info__1LHC1 p:last-child{margin-right:0}

.tile{max-width:400px;width:100%;border-radius:4px;box-shadow:0 2px 3px 0 rgba(0,0,0,0.1);background-color:#fff}.tile .tile-content{display:flex;flex-direction:column}.tile .tile-content .title{padding:16px 24px 16px 24px;font-family:Merriweather, serif;font-size:18px;font-weight:400;font-stretch:normal;font-style:normal;line-height:1.56;letter-spacing:normal;color:#2f2f2f;word-wrap:break-word}.tile .tile-content hr{width:100%;height:1px;background:#0000001a;border:none}.tile .tile-content img{box-sizing:border-box;max-width:100%;height:auto;margin:16px 24px 0;border-radius:4px}.tile .tile-content .subtitle{padding:16px 24px;font-family:Roboto, Lato, Arial;font-size:14px;font-weight:300;font-stretch:normal;font-style:normal;line-height:1.71;letter-spacing:normal;color:#343434;word-wrap:break-word}

/* add css module styles here (optional) */

.styles_test__2ImWA {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}

.Report_report__1mQST{display:block;width:100%;margin:10px 0}.Report_report__1mQST .Report_reportHeaderContainer__t61rb{border-bottom:solid 1px rgba(0,0,0,0.12)}.Report_report__1mQST .Report_reportHeaderContainer__t61rb .Report_reportHeader__1RAbP{margin-top:15px !important;margin-bottom:15px !important}.Report_report__1mQST .Report_reportHeaderContainer__t61rb .Report_reportHeader__1RAbP .Report_reportTitleLink__rXhY7{text-decoration:none;cursor:pointer}.Report_report__1mQST .Report_reportHeaderContainer__t61rb .Report_reportHeader__1RAbP .Report_reportTitleContainer__3iIde{display:table}.Report_report__1mQST .Report_reportHeaderContainer__t61rb .Report_reportHeader__1RAbP .Report_reportTitleContainer__3iIde .Report_reportImage__2jFxe{display:table-cell;vertical-align:middle;margin:5px;padding:0 20px;font-size:25px;color:#1565c0}.Report_report__1mQST .Report_reportHeaderContainer__t61rb .Report_reportHeader__1RAbP .Report_reportTitleContainer__3iIde .Report_reportTitleDiv__2j85A{margin-left:30px;display:table-cell;font-size:21px;font-weight:600;color:#3f3f3f}.Report_report__1mQST .Report_reportHeaderContainer__t61rb .Report_reportHeader__1RAbP .Report_reportTitleContainer__3iIde .Report_reportTitleDiv__2j85A .Report_reportTitle__OdmYt{font-size:20px}.Report_report__1mQST .Report_reportHeaderContainer__t61rb .Report_reportHeader__1RAbP .Report_reportTitleContainer__3iIde .Report_reportTitleDiv__2j85A .Report_reportDescription__29UWQ{font-size:15px;color:#a5a5a5}.Report_report__1mQST .Report_reportHeaderContainer__t61rb .Report_reportHeader__1RAbP .Report_searchInput__2wY-F{max-width:200px;float:right;margin-right:15px}.Report_report__1mQST .Report_reportHeaderContainer__t61rb .Report_reportHeader__1RAbP .Report_columnSelect__iR0y4{float:right;margin-right:25px;font-size:26px}.Report_report__1mQST .Report_reportHeaderContainer__t61rb .Report_reportHeader__1RAbP .Report_columnSelect__iR0y4 .ms-Dropdown-title{border:none}.Report_report__1mQST .Report_reportBodyContainer__caoGc{padding-top:10px}.Report_report__1mQST .Report_reportFutterContainer__3fSU9 .ms-Grid-row{margin-top:10px;margin-bottom:10px}.Report_report__1mQST .Report_btnClass__3iXPM{float:'left';padding:0;background:0;border-radius:35px;min-width:32px}.Report_report__1mQST .Report_btnClass__3iXPM:hover{background:#f4f4f4}.Report_report__1mQST .ms-DetailsHeader{height:37px}.calloutColumns{width:auto}

.CustomHeader_customHeader__1IL7W .CustomHeader_searchIcon__2QaCm{position:absolute;left:0;top:2px;width:26px;z-index:1}.CustomHeader_customHeader__1IL7W .CustomHeader_searchIcon__2QaCm .ms-Button-icon{font-size:15px}.CustomHeader_customHeader__1IL7W .CustomHeader_searchClose__16o5W{position:absolute;right:0;top:0;z-index:1}.CustomHeader_customHeader__1IL7W .CustomHeader_searchClose__16o5W .ms-Button-icon{font-size:15px}.CustomHeader_customHeader__1IL7W .CustomHeader_clearFilterInput__WC90D{position:absolute;right:33px;top:0;z-index:1}.CustomHeader_customHeader__1IL7W .CustomHeader_clearFilterInput__WC90D .ms-Button-icon{font-size:15px}.CustomHeader_customHeader__1IL7W .CustomHeader_searchQueryDiv__1XLeM{position:absolute;left:26px;bottom:-11px;z-index:1}.CustomHeader_customHeader__1IL7W .CustomHeader_searchQueryDiv__1XLeM .CustomHeader_searchQuery__1qmmx{font-style:italic;float:left;font-size:9px}.CustomHeader_customHeader__1IL7W .CustomHeader_searchQueryDiv__1XLeM .CustomHeader_clearFilter__17aNQ{color:red;float:right}.CustomHeader_customHeader__1IL7W .CustomHeader_searchQueryDiv__1XLeM .CustomHeader_clearFilter__17aNQ .ms-Button-icon{font-size:8px}.CustomHeader_customHeader__1IL7W .CustomHeader_searchInput__2nMRC{max-width:100%}.CustomHeader_customHeader__1IL7W .ms-TooltipHost{left:13px}


/*# sourceMappingURL=main.5231f76d.chunk.css.map*/